var getStatus = function (type) {
  switch (type) {
    case 0:
      return '待审核'
    case 1:
      return '待支付'
    case 2:
      return '已支付'
    case 3:
      return '投放中'
    case 4:
      return '已完成'
    case 5:
      return '审核失败'
    case 6:
      return '暂停中'
  }
}

var getClass = function (type) {
  switch (type) {
    case 0:
      return 'wait_test'
    case 1:
      return 'wait_pay'
    case 2:
      return 'payed'
    case 3:
      return 'throwing'
    case 4:
      return 'completed'
    case 5:
      return 'fail'
    case 6:
      return 'paused'
  }
}

module.exports = {
  getStatus: getStatus,
  getClass: getClass,
}