var getStatus = function (type) {
  switch (type) {
    case 0:
      return '/img/status/wait_test.png'
    case 1:
      return '/img/status/wait_pay.png'
    case 2:
      return '/img/status/payed.png'
    case 3:
      return '/img/status/throwing.png'
    case 4:
      return '/img/status/completed.png'
    case 5:
      return '/img/status/fail.png'
    case 6:
      return '/img/status/paused.png'
  }
}

module.exports = {
  getStatus: getStatus,
}